* {
  box-sizing: border-box;
}

html {
  font-size: 15px; /* 1rem */
}

body {
  margin: 0;
  padding: 0;
}

li {
  padding-bottom: 10px;
  font-size:20px;
}

@import '../includes/page/page';
@import '../includes/snow/snow';
@import '../includes/header/header';
@import '../includes/loader/loader';
@import '../includes/content/content';
@import '../includes/footer/footer';
