.contants
  a(href="mailto:frontend200tb@mail.ru") frontend200tb@mail.ru
  |
  |
  a(href="https://github.com/frontend200tb") GitHub

.copyright
  a(href="#") 2021 Иван Каширин - 200TERABYTE Web Studio