h2 Учебные проекты Верстка (HTML, CSS, JavaScript)
ol
  li
    a(href="https://frontend200tb.github.io/rsschool-cv/", title="cv") Иван Каширин CV
    |
    |
    span (v.2022.01.02)

  li
    a(href="https://rolling-scopes-school.github.io/frontend200tb-JSFEPRESCHOOL/eco-sounds/", title="eco sounds") Eco sounds
    |
    |
    span (v.2022.02.02)

  li
    a(href="https://frontend200tb.github.io/js30drumkit/", title="drum kit") Drum kit
    |
    |
    span (v.2022.02.01)

  li
    a(href="https://rolling-scopes-school.github.io/frontend200tb-JSFEPRESCHOOL/portfolio/", title="Портфолио") RS School Stage 0 Project Portfolio
    |
    |
    span (v.2022.01.30)

  li
    a(href="https://frontend200tb.github.io/coffee/" title="Проект Coffee на GitHub") Coffee
    |
    | (v.2021.07.23)

  li
    a(href="https://frontend200tb.github.io/yummy/" title="Проект Yummy на GitHub") Yummy
    |
    | (v.2021.07.29)

  li
    a(href="https://frontend200tb.github.io/flashnews/" title="Проект FlashNews на GitHub") Flash News
    |
    | (v.2021.10.31)


h2 Учебные проекты Верстка (HTML, CSS)
ol

  li
    a(href="https://frontend200tb.github.io/js30clock/", title="clock") Clock
    |
    |
    span (v.2022.02.02)

  li
    a(href="https://frontend200tb.github.io/resume/" title="Проект resume на GitHub") resume
    |
    | (v.2021.06.24)

  li
    a(href="https://frontend200tb.github.io/webdev/" title="Проект WebDev на GitHub") WebDev
    |
    | (v.2021.08.10)

  li
    a(href="https://frontend200tb.github.io/aquatic/" title="Проект aquatic на GitHub") Aquatic
    |
    | (v.2021.08.11)

  li
    a(href="https://frontend200tb.github.io/neuralnetwork/" title="Проект Neural Network на GitHub") Neural Network
    |
    | (v.2021.08.23)

  li
    a(href="https://frontend200tb.github.io/newyork/" title="Проект New York на GitHub") New York
    |
    | (v.2021.10.06)

  li
    a(href="https://frontend200tb.github.io/halloween/" title="Проект Halloween на GitHub") Halloween
    |
    | (v.2021.10.07)

  li
    a(href="https://frontend200tb.github.io/gloevk/" title="Проект gloevk на GitHub") gloevk
    |
    | (v.2021.10.29)


h2 Учебные проекты Верстка (HTML, CSS, jQuery)
ol

  li
    a(href="https://frontend200tb.github.io/freepsd/" title="Проект freepsd на GitHub") freepsd
    |
    | (v.2021.06.25)

  li
    a(href="https://frontend200tb.github.io/choocetravel/" title="Проект Chooce Travel на GitHub") Chooce Travel
    |
    | (v.2021.08.16)

  li
    a(href="https://frontend200tb.github.io/explorecalifornia/" title="Проект Explore California на GitHub") Explore California
    |
    | (v.2021.08.17)

  li
    a(href="https://frontend200tb.github.io/mogo/" title="Проект Mogo на GitHub") Mogo
    |
    | (v.2021.11.29)


h2 Учебные проекты Верстка (HTML, CSS, jQuery, Bootstrap)
ol

  li
    a(href="https://frontend200tb.github.io/landon/" title="Проект Landon на GitHub") Landon
    |
    | (v.2021.07.20)

  li
    a(href="https://frontend200tb.github.io/kinomonster/" title="Проект Kinomonster на GitHub") Kinomonster
    |
    | (v.2021.08.14)

