h2 Проект в разработке (pug, sass, JavaScript)
ol
  li
    a(href="https://frontend200tb.github.io/radio/", title="Проект Radio Online Serbia") Radio Online Serbia
    |
    |
    span (v.2021.11.27)