h2 Проект в разработке (pug, sass, JavaScript)
ol
  li
    a(href="https://frontend200tb.github.io/start/", title="Вск мои проекты и учебная верстка") Start
    |
    |
    span (v.2021.11.27)
  li
    a(href="https://frontend200tb.github.io/radio/", title="Проект Radio Online Serbia") Radio Online Serbia
    |
    |
    span (v.2021.11.27)
  li
    a(href="https://frontend200tb.github.io/200tb/", title="Мое обучение frontend разработке") 200tb Frontend
    |
    |
    span (v.2021.12.07)