doctype html
html(lang='ru')
  head
    include includes/head/head.pug
  body

    .page.snow
      header.header
        include includes/header/header.pug
      |
      |

      main.content
        article.project
          include includes/project/project.pug
        |
        |

        article.verstka
          include includes/layout/layout.pug
      |
      |


      footer.container.footer
        include includes/footer/footer.pug
      |
      |