meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(http-equiv="X-UA-Compatible" content="ie=edge")
meta(name='description', content='Иван Каширин Frontend разработчик 200 Terabyte Web Studio')
meta(name='keywords', content='Иван Каширин, frontend разработчик, 200 Terabyte Web Studio')
meta(name="author", content="Иван Каширин")
meta(name="copyright", content="200TB Web Studio")
|
|
title Иван Каширин Frontend разработчик
|
|
link(rel="stylesheet", href="css/style.css")
link(rel="icon", href="img/favicon.ico")